<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
</head>

<body>
    <h1>Add a Todo Item:</h1>
    <p>
        This page contains two types of form that have the same action just for learning demonstrations for my students.
        You can use any one of them to add your items.
    </p>
    <hr>
    <h2>First From Using Normal HTML Form Elements</h2>
    <!-- 
        Creating a form for inserting a new item:
        - method="post" is required => to receive and save the user's input 
        - action="add" is required => which the add URL to submit the from to
     -->
    <form method="POST" action="add">
        {% csrf_token %}
        <div>
            <p>
                <label for="id_name">Name:</label>
                <!-- 
                    NOTES:
                    - name attribute value will be used by the view function to access the name input's value (IMPORTANT for our code)
                    - id attribute value to be used to identiy this element for CSS of JavaScript interaction if needed (Optional)
                 -->
                <input type="text" id="id_name" name="item_name">
            </p>
        </div>
        <div>
            <p>
                <label for="id_done">Done:</label>
                <input type="checkbox" id="id_done" name="done">
            </p>
        </div>
        <div>
            <p>
                <button type="submit">Add Item</button>
            </p>
        </div>
    </form>

    <hr>
    <h2>Second Form Using Django Form Template</h2>
    <form method="POST" action="add">
        {% csrf_token %}
        <!-- 
            This was the old template { { form } } => we got all the form elements to be displayed horizontally 
        -->
        <!-- { { form } } -->
        <!-- 
            We will use the Django template option as_p to display them as block-level elements vertically
         -->
        {{ form.as_p }}
        <div>
            <p>
                <button type="submit">Add Item</button>
            </p>
        </div>
    </form>
</body>

</html>